<!DOCTYPE html>
<html>    
    <head>
        <title>Transfero</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>            
        <div class="logo-menu">
            <img src="/public/logo-menu.svg"/>                   
        </div>
        <div class="line-menu">
            <img src="/public/line.svg"/> 
        </div>
        <p class="menu-title">Escolha o produto que deseja</p>   
        <div class="menu-button">
            <a href="/formPay" class="button">Pay</a>
        </div>
        <div class="menu-button">
            <a href="/formVentures" class="button">Ventures</a>            
        </div>
        <div class="menu-button">
            <a href="/formPrime" class="button">Prime</a>
        </div>
        <div class="menu-button">
            <a href="/formCheckOut" class="button">Checkout</a>
        </div>
        <div class="menu-button">
            <a href="/formApp" class="button">App</a>
        </div>
    </body>    
</html>